body {
    background-color: #b7e6f7;
}

/* Header */

header {
    font-family: monospace;
    background-color: #012356;
    border: 2px solid #ffea00;
    color: #ffea00;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main */

h1 {
    margin-top: 90px;
    font-size: 50px;
}
#justp {
    background-color: rgb(95, 7, 7);
}

/* Images */ 

#img1 {
    height: 250px;
    border: solid 2px darkred;
}
#img2 {
    height: 250px;
    width: 200px;
    border: solid 2px darkred;
}
#img3 {
    height: 250px;
    width: 200px;
    border: solid 2px darkred;
}
#img4 {
    height: 250px;
    width: 200px;
    border: solid 2px darkred;
}

/* Footer */

#footer-P {
    font-family: monospace;
    background-color: #012356;
    color: #ffea00;;
    display: flex;
    justify-content: center;
    align-items: center;
}
