* {
    font-family: monospace;
}

body {
    font-size: 15px;
    border: 3px solid black;
}

h1, h3 {
    color: blue;
}

p {
    color: purple!important;
}

p {
    color: khaki;
}

p span {
    text-transform: uppercase;
    background-color: gold;
}

.h3 {
    color: aqua;
}

#h3 {
    color: limegreen;
    font-style: italic;
}
